@import "tailwindcss";

@plugin "daisyui" {
    themes: prodev, light, dark;
}

@plugin "daisyui/theme" {
    name: "prodev";
    default: true;
    --color-primary: #1d1d1b;
    /* ton noir / très foncé */
    --color-primary-content: #ffffff;
    /* texte clair sur primaire */

    --color-secondary: #b39c8f;
    --color-secondary-content: #FFFFFF;

    --color-accent: #10B981;
    /* vert accent si voulu */
    --color-accent-content: #FFFFFF;

    --color-neutral: #F3F4F6;
    --color-base-100: #FFFFFF;
    --color-base-200: #F3F4F6;
    --color-base-300: #E5E7EB;

    --color-info: #3ABFF8;
    --color-success: #36D399;
    --color-warning: #FBBD23;
    --color-error: #F87272;

    /* rayon des bordures (border radius) */
    --radius-box: 0.5rem;
    --radius-btn: 0.375rem;
    --radius-badge: 1rem;
}